<div class="hn-footer">
  <div class="advert">Apply early for the YC Winter 2022 batch</div>
  <div class="site-map">
    <a tooltip="Not Implemented" href="#"> Guidelines </a>
    <span>|</span>
    <a href="#"> FAQ </a>
    <span>|</span>
    <a href="#"> Lists </a>
    <span>|</span>
    <a href="#"> API </a>
    <span>|</span>
    <a href="#"> Security </a>
    <span>|</span>
    <a href="#"> Legal </a>
    <span>|</span>
    <a href="#"> Apply to YC </a>
    <span>|</span>
    <a href="#"> Contact </a>
  </div>
  <div class="search-bar">
    Search: <input type="text">
  </div>
</div>
