<div class="hn-header hn-ai-center">
  <div class="hn-header-left">
    <div class="hn-logo">
      <img src="../../../assets/hn-logo.gif" />
    </div>
    <div class="hn-navigation-bar hn-ai-center">
      <span class="logo-title"><b>Hacker News</b></span>
      <div class="actions">
        <a href=""> top stories </a>
        <span>|</span>
        <a href="#"> past </a>
        <span>|</span>
        <a href="#"> comments </a>
        <span>|</span>
        <a href="#"> ask </a>
        <span>|</span>
        <a href="#"> show </a>
        <span>|</span>
        <a href="#"> jobs </a>
        <span>|</span>
        <a href="#"> submit </a>
      </div>
    </div>
  </div>
  <div class="hn-auth-bar">
    <a href="#" >login</a>
  </div>
</div>
